@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.text-outline {
		text-shadow: 1px 1px 1px rgb(29 78 216);
	}
}

.begin_card {
	position: absolute;
	left: -90px;
	bottom: 0;
}

.abs {
	position: absolute;
}

.active {
	height: 196px;
}

.item-enter {
	opacity: 0;
}
.item-enter-active {
	opacity: 1;
	transition: opacity 500ms ease-in;
}
.item-exit {
	opacity: 1;
}
.item-exit-active {
	opacity: 0;
	transition: opacity 500ms ease-in;
}
.text-shadow-white {
	text-shadow: 0px 0px 10px #fff;
}
