@tailwind base;
@tailwind components;
@tailwind utilities;

/* #popup {
	position: relative;
	z-index: 10;
} */
.begin_card {
	position: absolute;
	left: -90px;
	bottom: 0;
}

.abs {
	position: absolute;
}

.active {
	height: 196px;
}

.item-enter {
	opacity: 0;
}
.item-enter-active {
	opacity: 1;
	transition: opacity 500ms ease-in;
}
.item-exit {
	opacity: 1;
}
.item-exit-active {
	opacity: 0;
	transition: opacity 500ms ease-in;
}
